<p> <strong> User: </strong> <%= u.username %>, a.k.a. <i> <%= u.first_name %></i></p>
<p> <strong> Joined: </strong> <%= u.created_at.strftime("%B %d %Y")%></p>
<button id="reviews"> <%= u.first_name %>'s Reviews </button><br></br>