<h3> Create Your User Account: </h3>

<% if flash[:password_mismatch] %>
    <div class="notice"><%= flash[:password_mismatch] %><br></br></div>
<% end %>

<% if flash[:failure] %>
    <div class="notice"><%= flash[:failure] %><br></br></div>
<% end %>

<%= render 'form' %>
